.card{
    box-shadow: 0 0 5px 7px lightgray;
    transition: .5s ease-in;
}

.card:hover{
    transform: scale(1.1);
}

.link{
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.active{
    color: tomato;
}

.alert{
    max-width: 600px;
}